@charset "UTF-8";
.f1 {
  font-family: "DM Sans", sans-serif;
}

.f2 {
  font-family: "DM Sans", sans-serif;
}

.bc1 {
  background-color: #ee421d;
}

.bc2 {
  background-color: #1E1E1E;
}

.bc3 {
  background-color: #abb1b9;
}

.bc4 {
  background-color: #FFF6F3;
}

.bc5 {
  background-color: #E53D03;
}

.bc6 {
  background-color: #5d323b;
}

.bc7 {
  background-color: #fff;
}

.bf {
  background-color: #fff;
}

.cf {
  color: #fff;
}

.ct {
  color: #1E1E1E;
}

.c1 {
  color: #ee421d;
}

.c2 {
  color: #1E1E1E;
}

.c3 {
  color: #abb1b9;
}

.c5 {
  color: #E53D03;
}

.c6 {
  color: #5d323b;
}

.c7 {
  color: #fff;
}

/*Transition CSS*/
/*Transform CSS*/
/*Border Radius*/
/*Box Shadow*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  position: absolute;
  top: calc(50% - 25px);
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  outline: none;
  z-index: 400;
  background: transparent;
  font-size: 0;
  line-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 50%;
  color: #1E1E1E;
  border: 2px solid #abb1b9;
}
.slick-prev:hover, .slick-next:hover {
  opacity: 0.4;
  color: #fff;
  background-color: #1E1E1E;
}
.slick-prev:hover:before, .slick-next:hover:before {
  color: #1E1E1E;
}
.slick-prev:before, .slick-next:before {
  display: inline-block;
  font-size: 30px !important;
  line-height: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s;
  color: #abb1b9;
}

.slick-prev {
  left: -60px;
}
.slick-prev:before {
  content: "\f104";
  font-family: "tio-font";
}

.slick-next {
  right: -60px;
}
.slick-next:before {
  content: "\f105";
  font-family: "tio-font";
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 7px;
  border: 0;
  background-color: #ee421d;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  color: #ee421d;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.8;
}
.slick-dots li.slick-active {
  width: 44px;
}
.slick-dots li.slick-active button:before {
  width: 44px;
}
.slick-dots li:only-child {
  display: none;
}

@media only screen and (max-width: 767px) {
  .slick-prev:hover,
  .slick-next:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}
/* Z-INDEX */
.formError {
  z-index: 990;
}

.formError .formErrorContent {
  z-index: 991;
}

.formError .formErrorArrow {
  z-index: 996;
}

.ui-dialog .formError {
  z-index: 5000;
}

.ui-dialog .formError .formErrorContent {
  z-index: 5001;
}

.ui-dialog .formError .formErrorArrow {
  z-index: 5006;
}

.inputContainer {
  position: relative;
  float: left;
}

.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  text-align: left;
}

.formError.inline {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}

.formError .formErrorContent {
  width: 100%;
  background: #ee0101;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  border: 2px solid #ddd;
  box-shadow: 0 0 6px #000;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  -o-box-shadow: 0 0 6px #000;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}

.formError.inline .formErrorContent {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}

.greenPopup .formErrorContent {
  background: #33be40;
}

.blackPopup .formErrorContent {
  background: #393939;
  color: #FFF;
}

.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}

body[dir=rtl] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}

.formError .formErrorArrow div {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  box-shadow: 0 2px 3px #444;
  -moz-box-shadow: 0 2px 3px #444;
  -webkit-box-shadow: 0 2px 3px #444;
  -o-box-shadow: 0 2px 3px #444;
  font-size: 0px;
  height: 1px;
  background: #ee0101;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
  background: #33be40;
}

.blackPopup .formErrorArrow div {
  background: #393939;
  color: #FFF;
}

.formError .formErrorArrow .line10 {
  width: 13px;
  border: none;
}

.formError .formErrorArrow .line9 {
  width: 11px;
  border: none;
}

.formError .formErrorArrow .line8 {
  width: 11px;
}

.formError .formErrorArrow .line7 {
  width: 9px;
}

.formError .formErrorArrow .line6 {
  width: 7px;
}

.formError .formErrorArrow .line5 {
  width: 5px;
}

.formError .formErrorArrow .line4 {
  width: 3px;
}

.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ddd;
}

.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ddd;
}

@font-face {
  font-family: "tio-font";
  src: url("../fonts/tio-font.eot?67683791");
  src: url("../fonts/tio-font.eot?67683791#iefix") format("embedded-opentype"), url("../fonts/tio-font.woff2?67683791") format("woff2"), url("../fonts/tio-font.woff?67683791") format("woff"), url("../fonts/tio-font.ttf?67683791") format("truetype"), url("../fonts/tio-font.svg?67683791#tio-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^=fa-],
[class*=" fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 "tio-font";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
  content: "\e800";
} /* '' */
.fa-star:before {
  content: "\e801";
} /* '' */
.fa-star-empty:before {
  content: "\e802";
} /* '' */
.fa-heart-empty:before {
  content: "\e803";
} /* '' */
.fa-heart:before {
  content: "\e804";
} /* '' */
.fa-mail:before {
  content: "\e805";
} /* '' */
.fa-search:before {
  content: "\e806";
} /* '' */
.fa-users:before {
  content: "\e807";
} /* '' */
.fa-th-list:before {
  content: "\e808";
} /* '' */
.fa-picture:before {
  content: "\e809";
} /* '' */
.fa-ok:before {
  content: "\e80a";
} /* '' */
.fa-ok-circled2:before {
  content: "\e80b";
} /* '' */
.fa-close:before {
  content: "\e80c";
} /* '' */
.fa-cancel-circled:before {
  content: "\e80d";
} /* '' */
.fa-play-circled2:before {
  content: "\e80e";
} /* '' */
.fa-plus:before {
  content: "\e80f";
} /* '' */
.fa-spin4:before {
  content: "\e810";
} /* '' */
.fa-minus:before {
  content: "\e811";
} /* '' */
.fa-facebook-f:before {
  content: "\e812";
} /* '' */
.fa-home:before {
  content: "\e813";
} /* '' */
.fa-clock-o:before {
  content: "\e814";
} /* '' */
.fa-resize-full:before {
  content: "\e815";
} /* '' */
.fa-thumbs-down:before {
  content: "\e816";
} /* '' */
.fa-thumbs-up:before {
  content: "\e817";
} /* '' */
.fa-comment:before {
  content: "\e818";
} /* '' */
.fa-chat:before {
  content: "\e819";
} /* '' */
.fa-map-marker:before {
  content: "\e81a";
} /* '' */
.fa-trash-empty:before {
  content: "\e81b";
} /* '' */
.fa-square:before {
  content: "\e81c";
} /* '' */
.fa-times:before {
  content: "\e81d";
} /* '' */
.fa-phone:before {
  content: "\e81e";
} /* '' */
.fa-cancel-circle:before {
  content: "\e81f";
} /* '' */
.fa-menu-bars:before {
  content: "\e820";
} /* '' */
.fa-volume-off:before {
  content: "\e821";
} /* '' */
.fa-volume-up:before {
  content: "\e822";
} /* '' */
.fa-block:before {
  content: "\e823";
} /* '' */
.fa-menu-bars-2:before {
  content: "\e824";
} /* '' */
.fa-download:before {
  content: "\e825";
} /* '' */
.fa-download-outline:before {
  content: "\e826";
} /* '' */
.fa-tooth:before {
  content: "\e827";
} /* '' */
.fa-calendar-2:before {
  content: "\e828";
} /* '' */
.fa-doc:before {
  content: "\e829";
} /* '' */
.fa-down-dir:before {
  content: "\e82a";
} /* '' */
.fa-up-dir:before {
  content: "\e82b";
} /* '' */
.fa-left-dir:before {
  content: "\e82c";
} /* '' */
.fa-right-dir:before {
  content: "\e82d";
} /* '' */
.fa-chevron-down:before {
  content: "\e82e";
} /* '' */
.fa-chevron-left:before {
  content: "\e82f";
} /* '' */
.fa-chevron-right:before {
  content: "\e830";
} /* '' */
.fa-chevron-up:before {
  content: "\e831";
} /* '' */
.fa-down-big:before {
  content: "\e832";
} /* '' */
.fa-left-big:before {
  content: "\e833";
} /* '' */
.fa-right-big:before {
  content: "\e834";
} /* '' */
.fa-up-big:before {
  content: "\e835";
} /* '' */
.fa-camera:before {
  content: "\e836";
} /* '' */
.fa-pencil:before {
  content: "\e837";
} /* '' */
.fa-cog:before {
  content: "\e838";
} /* '' */
.fa-upload:before {
  content: "\e839";
} /* '' */
.fa-play:before {
  content: "\e83a";
} /* '' */
.fa-export:before {
  content: "\e83b";
} /* '' */
.fa-list:before {
  content: "\e83c";
} /* '' */
.fa-align-justify:before {
  content: "\e83d";
} /* '' */
.fa-phone-outline:before {
  content: "\e83e";
} /* '' */
.fa-right-small:before {
  content: "\e83f";
} /* '' */
.fa-left-small:before {
  content: "\e840";
} /* '' */
.fa-help-circled:before {
  content: "\e841";
} /* '' */
.fa-question-circle:before {
  content: "\e841";
} /* '' */
.fa-emo-grin:before {
  content: "\e842";
} /* '' */
.fa-emo-happy:before {
  content: "\e843";
} /* '' */
.fa-arrow-long:before {
  content: "\e844";
} /* '' */
.fa-calendar:before {
  content: "\e845";
} /* '' */
.fa-left-open-big:before {
  content: "\e846";
} /* '' */
.fa-right-open-big:before {
  content: "\e847";
} /* '' */
.fa-left-1:before {
  content: "\e848";
} /* '' */
.fa-right-1:before {
  content: "\e849";
} /* '' */
.fa-phone-1:before {
  content: "\e84a";
} /* '' */
.fa-location-1:before {
  content: "\e84b";
} /* '' */
.fa-resize-full-1:before {
  content: "\e84c";
} /* '' */
.fa-resize-small-1:before {
  content: "\e84d";
} /* '' */
.fa-pin:before {
  content: "\e84e";
} /* '' */
.fa-location-2:before {
  content: "\e84f";
} /* '' */
.fa-location-inv:before {
  content: "\e850";
} /* '' */
.fa-calendar-inv:before {
  content: "\e851";
} /* '' */
.fa-calendar-1:before {
  content: "\e852";
} /* '' */
.fa-left-outline:before {
  content: "\e853";
} /* '' */
.fa-right-outline:before {
  content: "\e854";
} /* '' */
.fa-down-outline:before {
  content: "\e855";
} /* '' */
.fa-up-outline:before {
  content: "\e856";
} /* '' */
.fa-phone-ring:before {
  content: "\e857";
} /* '' */
.fa-star-1:before {
  content: "\e858";
} /* '' */
.fa-check:before {
  content: "\e859";
} /* '' */
.fa-phone-squared:before {
  content: "\f098";
} /* '' */
.fa-twitter:before {
  content: "\f099";
} /* '' */
.fa-facebook:before {
  content: "\f09a";
} /* '' */
.fa-left-circled:before {
  content: "\f0a8";
} /* '' */
.fa-right-circled:before {
  content: "\f0a9";
} /* '' */
.fa-up-circled:before {
  content: "\f0aa";
} /* '' */
.fa-down-circled:before {
  content: "\f0ab";
} /* '' */
.fa-docs:before {
  content: "\f0c5";
} /* '' */
.fa-blank:before {
  content: "\f0c8";
} /* '' */
.fa-bars:before {
  content: "\f0c9";
} /* '' */
.fa-list-bullet:before {
  content: "\f0ca";
} /* '' */
.fa-pinterest-circled:before {
  content: "\f0d2";
} /* '' */
.fa-pinterest-squared:before {
  content: "\f0d3";
} /* '' */
.fa-gplus-squared:before {
  content: "\f0d4";
} /* '' */
.fa-google-plus:before {
  content: "\f0d5";
} /* '' */
.fa-sort-down:before {
  content: "\f0dd";
} /* '' */
.fa-sort-up:before {
  content: "\f0de";
} /* '' */
.fa-mail-alt:before {
  content: "\f0e0";
} /* '' */
.fa-linkedin:before {
  content: "\f0e1";
} /* '' */
.fa-comment-empty:before {
  content: "\f0e5";
} /* '' */
.fa-download-cloud:before {
  content: "\f0ed";
} /* '' */
.fa-plus-squared:before {
  content: "\f0fe";
} /* '' */
.fa-angle-double-left:before {
  content: "\f100";
} /* '' */
.fa-angle-double-right:before {
  content: "\f101";
} /* '' */
.fa-angle-double-up:before {
  content: "\f102";
} /* '' */
.fa-angle-double-down:before {
  content: "\f103";
} /* '' */
.fa-angle-left:before {
  content: "\f104";
} /* '' */
.fa-angle-right:before {
  content: "\f105";
} /* '' */
.fa-angle-up:before {
  content: "\f106";
} /* '' */
.fa-angle-down:before {
  content: "\f107";
} /* '' */
.fa-quote-left:before {
  content: "\f10d";
} /* '' */
.fa-quote-right:before {
  content: "\f10e";
} /* '' */
.fa-circle:before {
  content: "\f111";
} /* '' */
.fa-folder-empty:before {
  content: "\f114";
} /* '' */
.fa-smile:before {
  content: "\f118";
} /* '' */
.fa-calendar-empty:before {
  content: "\f133";
} /* '' */
.fa-angle-circled-left:before {
  content: "\f137";
} /* '' */
.fa-angle-circled-right:before {
  content: "\f138";
} /* '' */
.fa-angle-circled-up:before {
  content: "\f139";
} /* '' */
.fa-angle-circled-down:before {
  content: "\f13a";
} /* '' */
.fa-ellipsis:before {
  content: "\f141";
} /* '' */
.fa-ellipsis-vert:before {
  content: "\f142";
} /* '' */
.fa-play-circled:before {
  content: "\f144";
} /* '' */
.fa-minus-squared:before {
  content: "\f146";
} /* '' */
.fa-minus-squared-alt:before {
  content: "\f147";
} /* '' */
.fa-ok-squared:before {
  content: "\f14a";
} /* '' */
.fa-euro:before {
  content: "\f153";
} /* '' */
.fa-gbp:before {
  content: "\f154";
} /* '' */
.fa-usd:before {
  content: "\f155";
} /* '' */
.fa-thumbs-up-alt:before {
  content: "\f164";
} /* '' */
.fa-thumbs-down-alt:before {
  content: "\f165";
} /* '' */
.fa-youtube-squared:before {
  content: "\f166";
} /* '' */
.fa-youtube:before {
  content: "\f167";
} /* '' */
.fa-youtube-play:before {
  content: "\f16a";
} /* '' */
.fa-instagram:before {
  content: "\f16d";
} /* '' */
.fa-left:before {
  content: "\f177";
} /* '' */
.fa-right:before {
  content: "\f178";
} /* '' */
.fa-skype:before {
  content: "\f17e";
} /* '' */
.fa-plus-squared-alt:before {
  content: "\f196";
} /* '' */
.fa-google:before {
  content: "\f1a0";
} /* '' */
.fa-fax:before {
  content: "\f1ac";
} /* '' */
.fa-file-pdf:before {
  content: "\f1c1";
} /* '' */
.fa-file-image:before {
  content: "\f1c5";
} /* '' */
.fa-circle-o-notch:before {
  content: "\f1ce";
} /* '' */
.fa-sliders:before {
  content: "\f1de";
} /* '' */
.fa-yelp:before {
  content: "\f1e9";
} /* '' */
.fa-trash:before {
  content: "\f1f8";
} /* '' */
.fa-facebook-official:before {
  content: "\f230";
} /* '' */
.fa-pinterest:before {
  content: "\f231";
} /* '' */
.fa-whatsapp:before {
  content: "\f232";
} /* '' */
.fa-map-pin:before {
  content: "\f276";
} /* '' */
.fa-map:before {
  content: "\f279";
} /* '' */
.fa-vimeo:before {
  content: "\f27d";
} /* '' */
.fa-volume-control-phone:before {
  content: "\f2a0";
} /* '' */
.fa-user-circle-o:before {
  content: "\f2be";
} /* '' */
.fa-user-o:before {
  content: "\f2c0";
} /* '' */
.fa-twitter-squared:before {
  content: "\f304";
} /* '' */
.fa-facebook-squared:before {
  content: "\f308";
} /* '' */
.fa-linkedin-squared:before {
  content: "\f30c";
} /* '' */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
  transform: scale(0.8);
}

.lity-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close:active {
  top: 1px;
}

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.lity-hide {
  display: none;
}

.datetimepicker {
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  direction: ltr;
}

.datetimepicker-inline {
  width: 220px;
}

.datetimepicker.datetimepicker-rtl {
  direction: rtl;
}

.datetimepicker.datetimepicker-rtl table tr td span {
  float: right;
}

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
  top: 0;
  left: 0;
}

[class*=" datetimepicker-dropdown"]:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
  content: "";
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
  content: "";
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left:before {
  top: -7px;
  right: 6px;
}

.datetimepicker-dropdown-bottom-left:after {
  top: -6px;
  right: 7px;
}

.datetimepicker-dropdown-bottom-right:before {
  top: -7px;
  left: 6px;
}

.datetimepicker-dropdown-bottom-right:after {
  top: -6px;
  left: 7px;
}

.datetimepicker-dropdown-top-left:before {
  bottom: -7px;
  right: 6px;
}

.datetimepicker-dropdown-top-left:after {
  bottom: -6px;
  right: 7px;
}

.datetimepicker-dropdown-top-right:before {
  bottom: -7px;
  left: 6px;
}

.datetimepicker-dropdown-top-right:after {
  bottom: -6px;
  left: 7px;
}

.datetimepicker > div {
  display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
  display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
  display: block;
}

.datetimepicker.days div.datetimepicker-days {
  display: block;
}

.datetimepicker.months div.datetimepicker-months {
  display: block;
}

.datetimepicker.years div.datetimepicker-years {
  display: block;
}

.datetimepicker table {
  margin: 0;
}

.datetimepicker td, .datetimepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 13px;
}

.table-striped .datetimepicker table tr td, .table-striped .datetimepicker table tr th {
  background-color: transparent;
}

.datetimepicker table tr td.minute:hover {
  background: #eeeeee;
  cursor: pointer;
}

.datetimepicker table tr td.hour:hover {
  background: #eeeeee;
  cursor: pointer;
}

.datetimepicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

.datetimepicker table tr td.old, .datetimepicker table tr td.new {
  color: #999999;
}

.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdd49a", endColorstr="#fdf59a", GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.datetimepicker table tr td.today:hover, .datetimepicker table tr td.today:hover:hover, .datetimepicker table tr td.today.disabled:hover, .datetimepicker table tr td.today.disabled:hover:hover, .datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today:hover.disabled, .datetimepicker table tr td.today.disabled.disabled, .datetimepicker table tr td.today.disabled:hover.disabled, .datetimepicker table tr td.today[disabled], .datetimepicker table tr td.today:hover[disabled], .datetimepicker table tr td.today.disabled[disabled], .datetimepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}

.datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069;
}

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0088cc", endColorstr="#0044cc", GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
  background-color: #003399;
}

.datetimepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}

.datetimepicker .datetimepicker-hours span {
  height: 26px;
  line-height: 26px;
}

.datetimepicker .datetimepicker-hours table tr td span.hour_am, .datetimepicker .datetimepicker-hours table tr td span.hour_pm {
  width: 14.6%;
}

.datetimepicker .datetimepicker-hours fieldset legend, .datetimepicker .datetimepicker-minutes fieldset legend {
  margin-bottom: inherit;
  line-height: 30px;
}

.datetimepicker .datetimepicker-minutes span {
  height: 26px;
  line-height: 26px;
}

.datetimepicker table tr td span:hover {
  background: #eeeeee;
}

.datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0088cc", endColorstr="#0044cc", GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}

.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
  background-color: #003399;
}

.datetimepicker table tr td span.old {
  color: #999999;
}

.datetimepicker th.switch {
  width: 145px;
}

.datetimepicker th span.glyphicon {
  pointer-events: none;
}

.datetimepicker thead tr:first-child th, .datetimepicker tfoot th {
  cursor: pointer;
}

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
  background: #eeeeee;
}

.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}

.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}

.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}

.datepicker .nav:after {
  clear: both;
}

.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}

.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
}

.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}

.datepicker .months {
  float: left;
  margin-left: 4px;
}

.datepicker .months .name {
  width: 72px;
  padding: 0;
}

.datepicker .years {
  float: right;
  margin-right: 4px;
}

.datepicker .years .name {
  width: 36px;
  padding: 0;
}

.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}

.datepicker .dow {
  font-weight: bold;
  color: #808080;
}

.datepicker .calendar {
  padding: 4px;
}

.datepicker .days div {
  cursor: pointer;
  border-radius: 4px;
}

.datepicker .overlap {
  color: #bfbfbf;
}

.datepicker .today {
  background-color: #fee9cc;
}

.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}

.datepicker .disabled {
  background-color: gray;
}

.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}

.datepicker .days .disabled:hover {
  background-color: gray;
  color: black;
}/*# sourceMappingURL=plugins.css.map */